$blue-colors: #0083b6;
$blue-light-colors: #6dd1b0;
$violet-colors: #702c7e;
$light-colors: #efefef;
$vinous-colors: #c4296c;
$yellow-colors: #f4ba46;
$red-colors: #df3f3e;
$orange-colors: #ed732e;
$gray-colors: #767679;
